/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}


/* My Guestspots Page*/
.guestspot-section {
	padding: 28px;
	width: 100vw;

	@include tablet {
		padding: 56px;
	}

	h1 {
		font-size: 1.5rem;
		padding-bottom: 52px;
	}

	.new-guestspot {
		border: $border;
		@include flex-centered;
		flex-direction: column;
		width: 100%;
		height: 200px;

		h2 {
			font-size: 1rem;
		}


		img {
			margin-top: 30%;
		}

		@include tablet {
			height: 288px;

			h2 {
				font-size: 2rem;
			}

		}

	}

	.guestspot {
		@extend %guestspot-mobile;
		@include text($color__text-main, 1rem, $font__main);


		img {
			@include gs-img-mobile;
		}

		@include tablet {
			height: 288px;
			flex-direction: row;

			img {
				@include gs-img-tablet;
			}
		}

		.studio-information {
			position: relative;
			padding: 20px;
			min-width: 30%;

			a {
				text-decoration: none;
			}

			@include tablet {
				padding: 44px;

			}
		}
	}
}

// Create new guestpot page

.create-guestspot-section {
	// padding: 28px;
	width: auto;
	height: 100%;
	display: flex;
	justify-content: space-between;


	.image-upload-form {
		display: flex;
		flex-direction: column;
		font-size: 1.5em;
		width: 80%;
		margin-left: 5%;



		input:not([type="file"]):not([type="submit"]) {
			padding: 5px;
			border: $border;
			font-size: 1.5rem;
			width: 80%;

			@include tablet {
				width: 26%;
				min-width: 250px;
			}
		}

		textarea {
			padding: 5px;
			border: $border;
			font-size: 1.5rem;
			width: 80%;

			@include tablet {
				width: 60%;
				min-width: 250px;
			}

		}

		#studio-name,
		#location {
			width: 80%;

			@include tablet {
				width: 40%;
				min-width: 360px;
			}
		}


		::-webkit-file-upload-button {
			height: 3.5rem;
			width: 7.5rem;
			background: transparent url('../../assets/buttons/button_texture.png');
			background-repeat: no-repeat;
			background-size: contain;
			border: none;
			color: $color__text-secondary;
			font-weight: bold;
		}


		.upload-btn {
			height: 3.5rem;
			width: 7.5rem;
			background: transparent url('../../assets/buttons/button_texture.png');
			background-repeat: no-repeat;
			background-size: contain;
			border: none;
			color: $color__text-secondary;
			font-weight: bold;
			margin-bottom: 2rem;
		}
	}

	.imagecontainer {
		overflow: hidden;
		position: relative;
		width: 25%;
		height: 100%;
		display: none;


		@include tablet {
			display: block;
			border-left: $border;

			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
				position: absolute;
			}
		}
	}



	label {
		font-family: $font__main;
		font-weight: bold;
		display: inline-block;
		margin-bottom: 0.5rem;

	}

}

// Single Guestspot
.guestspot {
	width: 100%;


	img {
		margin-top: 8%;
		position: relative;
		width: 100%;
		margin-top: 5px;
		width: 80%;
		margin-left: 30px;
		border: 6px solid black;




		@include tablet {
			width: 80%;
			margin-top: 0;

			margin-top: 5px;
			width: 80%;
			margin-left: 71px;
			border: 6px solid black;
		}
	}

	.title {
		position: absolute;
		background: #fff;
		border: $border;
		padding: 1rem;
		font-size: 1.5rem;
		top: 3%;
		margin: 0 auto;
		left: auto;
		right: auto;
		left: 77%;

		transform: translateX(-50%);

		@include tablet {
			top: 10%;
			right: 0%;

			margin-top: none;
			font-size: 2.5rem;
		}
	}



	.info {
		padding: 4% 8%;

		h3 {
			font-size: 1.4rem;
		}

		p,
		a {
			margin: 0;
			font-size: 1rem;
		}

		.with-border {
			display: inline-block;
			border: $border2;
			padding: 10px;
			margin-bottom: 2%;

		}

		.with-border:not(span) {
			width: 90%;

			@include tablet {
				width: 50%;
			}
		}

		span {
			width: 45%;
			font-size: 1rem;

			@include tablet {
				width: 12rem;
			}

		}


		.first-date {
			border-right: none;
		}

		.content {
			height: 200px;
		}

		a {
			display: inline-block;
			border: $border2;
			padding: 10px;
			margin-right: 12px;
			margin-top: 4%;
			text-decoration: none;
			color: $color__text-main;
		}

		a.get-in-touch-btn {
			height: 4rem;
			width: 8rem;
			background: transparent url('../../assets/buttons/button_texture.png');
			background-repeat: no-repeat;
			background-size: contain;
			border: none;
			color: $color__text-secondary;
			font-weight: bold;
			text-decoration: none;
			text-align: center;
		}

	}
}


/* Global Search  */

.tab {
	display: flex;
	justify-content: space-around;
	overflow: hidden;
}

.tab button {
	@include text($color__text-main, 16px, $font__main);
	cursor: pointer;
	padding: 14px 10%;
	border: $border;
	transition: 0.3s;
}

// .tab button:hover {
// 	background-color: #ddd;
// }


.tabcontent {
	display: none;
	padding: 30px 12px;
}

.tabcontent {
	animation: fadeEffect 1s;
}

@keyframes fadeEffect {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}


#studio {
	.search-studio {
		margin: 0 5%;
		display: flex;
		flex-direction: column;
		@include text($color__text-main, 12px, $font__main);
	}

	.no-results {
		display: flex;
		justify-content: center;

		.error-404 {
			text-align: center;

			.page-content {
				margin: 0;

				fieldset {
					border: none;
				}

			}
		}
	}
}

#artist {

	.search-artist {
		margin: 0 5%;
		display: flex;
		flex-direction: column;
		@include text($color__text-main, 12px, $font__main);
	}

	.no-results {
		display: flex;
		justify-content: center;

		.error-404 {
			text-align: center;

			.page-content {
				margin: 0;

				fieldset {
					border: none;
				}

			}
		}
	}
}

#posts {

	.search-artist {
		margin: 0 5%;
		display: flex;
		flex-direction: column;
		@include text($color__text-main, 12px, $font__main);
	}

	.no-results {
		display: flex;
		justify-content: center;

		.error-404 {
			text-align: center;

			.page-content {
				margin: 0;

				fieldset {
					border: none;
				}

			}
		}
	}
}

.active {
	font-weight: 600;
}

.visible {
	display: block;
}