/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	&:hover {}

	&:active,
	&:focus {}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}


/* overlay styles, all needed */
.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10;
}

.dilog-container {
	// display: flex;
	display: none;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;

	.modal-dilog-roles {

		@include tablet {
			width: 60%;
			height: 80%;
			min-height: 500px;
		}

		padding: 2%;
		background-color: #fff;
		z-index: 11;
		border: 7px solid #000000;

		.cancel-modal-dilog-roles:before {
			font-family: "FontAwesome";
			content: '\f00d';
			font-size: 60px;
			margin-left: 2%;
		}

		.flex-container {
			width: 100%;
			@include flex-centered;
			flex-direction: column;

			h2 {
				margin-top: 0;

				@media (max-width: 800px) {
					font-size: 1rem;
				}
			}

			.roles-links {
				display: flex;

				a {
					@include flex-centered;

					@include tablet {
						height: 40vh;
						width: 20vw;
						max-width: 223px;
						max-height: 300px;
						margin: 7%;
					}

					width: 20vw;
					height: auto;
					padding: 4px;

					border: $border;
					@include text($color__text-main, 1.5rem, $font__main);
					font-weight: bold;
					margin: 2%;
				}
			}

			p {
				margin-bottom: 5%;
			}
		}
	}

	.modal-dilog-submit {
		display: none;
	}
}