/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.home {
    #page {
        display: grid;
        grid-auto-columns: auto;
        grid-auto-rows: auto;
        border-bottom: 6px solid #000;

        .site-main {
            display: grid;
            grid-auto-columns: auto;
            grid-auto-rows: auto;
            border-bottom: 6px solid #000;
        }

        .banner-image {
            display: flex;
            border-bottom: 6px solid #000;
            background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url('../../assets/images/clem-onojeghuo-121575-unsplash.png'), no-repeat, center;
            background-size: cover;
            height: 44rem;
            width: 100%;


            .banner-title {
                display: flex;
                flex-direction: column;
                padding-top: 30px;

                h2 {
                    display: none;

                    @include tablet {
                        display: flex;
                        margin-left: 40px;
                        padding-left: 30px;
                        padding-right: 30px;
                        padding-top: 40px;
                        margin-bottom: 15px;
                        padding-bottom: 30px;
                        height: fit-content;
                        width: fit-content;
                        font-size: 60px;
                        font-style: italic;
                        font-weight: 900;
                        letter-spacing: 5px;
                        line-height: 25px;
                        border: 8px solid #000000;
                        background-color: #FFFFFF;
                    }
                }
            }

            .sign-up-link {
                cursor: pointer;
                margin-top: 40px;
                text-align: center;
                border: 8px solid #000000;
                padding: 10px;
                font-size: 18px;
                font-weight: bold;
                letter-spacing: 1.26px;
                line-height: 24px;
                background-color: #FFFFFF;
                width: 350px;
                justify-self: center;
            }

            .div-p-banner {
                margin-top: 490px;
                display: flex;
                justify-content: center;
                width: 100vw;

                @include tablet {
                    margin-top: 0px;
                }
            }
        }

        .guestspots {
            @include multi-profile;
            margin-top: 3rem;
            margin-bottom: 3rem;

            .link-guestspot {
                height: 25rem;
                border: $border3;

                &:hover {
                    border-color: black;
                }

                .avatar {
                    height: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }

            p {
                @include flex-centered;
                font-weight: bold;
                justify-content: left;
                margin: 0.5rem;
                font-size: 1rem;
            }
        }

        .examplesecondblock {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 1rem;
            border-bottom: 6px solid #000;
            margin-top: 5rem;
            padding-bottom: 5rem;

            .exampleguestspots {
                justify-self: center;
                border: 6px solid #000;
            }

        }

        .not-found {
            display: none;
        }

    }
}

/* Studio Page */

.content-area {
    width: 100%;
}

.title {
    @include profile-title;

    @include desktop {
        justify-content: left;
        margin-left: 24rem;
    }
}

.studio-users {
    @include multi-profile;

    a {

        &:link,
        &:hover,
        &:active,
        &:focus,
        &:visited {
            color: black;
            text-decoration: none;
            font-size: 1rem;
        }
    }
}

.container {
    @include container;

    li {
        @include profile-list;
        margin-left: 0.5rem;
    }

    .studio {
        @include profile-container;

        img {
            @include profile-img;

            &:hover {
                border-color: black;
            }
        }
    }

    button {
        @include loadmore-button;

        &.hidden {
            display: none;
        }
    }
}

/* Artist Page */

.content-area {
    width: 100%;
}

.title {
    h1 {
        @include profile-title;
    }

    @include desktop {
        justify-content: left;
        margin-left: 24rem;
    }
}

.artist-users {
    @include multi-profile;

    .artist {
        @include profile-container;

        img {
            @include profile-img;

            &:hover {
                border-color: black;
            }
        }
    }

    a {

        &:link,
        &:hover,
        &:active,
        &:focus,
        &:visited {
            color: black;
            text-decoration: none;
            font-size: 1rem;
        }
    }
}


.container {
    @include container;

    li {
        @include profile-list;
        margin-left: 0.5rem;
    }
}

.button {
    @include flex-centered;

    &.hidden {
        display: none;
    }

    button {
        @include loadmore-button;
    }
}

/* Single Artist Page */

.author {
    .artist-profile {
        display: grid;
        grid-template-rows: auto auto auto;

        .entry-header {
            @include entry-header;
        }

        .single-artist {
            display: flex;
            padding-bottom: 1rem;

            @include tablet {
                margin-top: 0;
            }

            @include desktop {
                margin-top: 3rem;
            }

            .avatar {
                @include flex-centered;
                width: 50%;

                img {
                    @include profile-img;
                    border: $border;
                }

                @include tablet {
                    margin-bottom: 1rem;
                }

                @include desktop {
                    margin-bottom: 0rem;
                }
            }

            .artistdetails {
                width: 50%;
                display:flex;
                flex-direction: column;

                .artistname {
                    @include profile-title;
                    order: 1;
    
                    @include tablet {
    
                        h2 {
                            margin-top: 1rem;
                        }
                    }
    
                    @include desktop {
                        margin-top: 2rem;
                        max-height: 6rem;
                    }
                }
    
                .artistdescription {
                    display: flex;
                    border: $border;
                    padding: 0.5rem;
                    order: 3;
    
                    @include tablet {
                        margin-left: 1rem;
                        margin-right: 1rem;
                    }
    
                    @include desktop {
                    }
                }
    
                .socialmedia {
                    @include profile-title;
                    flex-direction: column;
                    order: 2;
        
                    .socialmedialinks {
                        display: flex;
                        justify-content: left;
                        margin-left: 1rem;
                        ul {
                            display: flex;
                            flex-flow: column wrap;
                            list-style: none;
                            margin: 0;
                            padding-left: 0;
                            margin-top: 2rem;
                            margin-bottom: 1rem;
                            li {
                                font-weight: bold;
                                font-size: 1rem;
                                margin-bottom: 0.5rem;
                                a {
                                    display: flex;
                                    flex-flow: row wrap;
                                    align-items: center;
                                    &:link,
                                    &:hover,
                                    &:active,
                                    &:focus,
                                    &:visited {
                                        color: black;
                                        text-decoration: none;
                                        font-size: 1rem;
                                        font-weight: bold;
                                    }
                                }
                                i {
                                    font-size: 2.5rem;
                                    margin-right: 1rem;
                                }
                        }
                    }
                }
                }
            }
        }
    }
}

/* Single Studio Page */

.author {

    .studio-profile {
        display: grid;
        grid-template-rows: auto auto auto;

        .entry-header {
            @include entry-header;
        }

        .single-studio {
            display: grid;
            padding-bottom: 3rem;
            @include border-bottom;

            @include tablet {
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr auto;
            }

            @include desktop {
                grid-template-columns: 1fr auto 1fr;
            }

            .avatar {
                @include profile-img;
                border: none;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

                @include tablet {
                    grid-row: 2;
                    order: 2;
                    height: 20rem;
                    margin: 0 auto;
                    margin-bottom: 2.5rem;
                }

                @include desktop {
                    grid-column: 2;
                    grid-row: 1/3;
                }
            }

            .socialmedia {
                @include profile-title;
                flex-direction: column;
                grid-row: 2;
                margin-left: 4rem;
                justify-content: flex-end;
    
                .socialmedialinks {
                    display: flex;
                    justify-content: left;
                    margin-left: 1rem;
                    ul {
                        display: flex;
                        flex-flow: column wrap;
                        list-style: none;
                        margin: 0;
                        padding-left: 0;
                        margin-top: 2rem;
                        margin-bottom: 1rem;
                        li {
                            font-weight: bold;
                            font-size: 1rem;
                            margin-bottom: 0.5rem;
                            a {
                                display: flex;
                                flex-flow: row wrap;
                                align-items: center;
                                &:link,
                                &:hover,
                                &:active,
                                &:focus,
                                &:visited {
                                    color: black;
                                    text-decoration: none;
                                    font-size: 1rem;
                                    font-weight: bold;
                                }
                            }
                            i {
                                font-size: 2.5rem;
                                margin-right: 1rem;
                            }
                    }
                }
            }
            }

            .studioname {
                @include profile-title;

                @include tablet {
                    grid-row: 1;
                    order: 1;
                }

                @include desktop {
                    grid-column: 3/4;
                }
            }

            .studiodescription {
                border: $border;
                font-weight: bold;
                padding: 0.5rem;
                margin-left: 5rem;

                @include tablet {
                    grid-row: 3;
                    order: 3;
                    margin-right: 5rem;
                }

                @include desktop {
                    grid-column: 1/2;
                }
            }
        }

        .previous-guestspots {
            @include profile-title;
            display: block;

            @include tablet {
                justify-content: center;
            }

            @include desktop {
                h2 {
                    justify-content: left;
                    margin-left: 5rem;
                    width: 24rem;
                }
            }

            .grid-container {
                @include previous-guestspots;
                margin: 3rem;
                grid-gap: 2.5rem;

                .guestspots {
                    border: $border3;
                    &:hover {
                        border-color: black;
                    }

                    .studio-information {
                        font-weight: bold;
                        font-size: 1rem;

                        a {
                            &:link,
                            &:hover,
                            &:active,
                            &:focus,
                            &:visited {
                                color: black;
                                text-decoration: none;
                                font-size: 1rem;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Footer */

footer {
    display: grid;
    grid-auto-columns: auto;
    background: black;
    @include text($color__text-secondary, 1rem, $font__main);
    font-weight: bold;
    padding-top: 3rem;

    a {

        &:link,
        &:hover,
        &:active,
        &:focus,
        &:visited {
            @include text($color__text-secondary, 1rem, $font__main);
        }

        text-decoration: none;
    }

    .logo {
        grid-column: 1;
        margin-left: 20px;
        margin-bottom: 10px;
        @include tablet{
        margin-left: 5.5rem;}

        img {
            height: 2.4rem;
        }
    }

    ul {
        margin-left: 20px;
        padding-left: 0;
        list-style: none;
        @include tablet{
            margin-left: 48px;
            padding-left: 40px;
        }
    }

    .footerlinks {
        grid-column: 1;
        grid-row: 2;
    }

    .copyright {
        grid-column: 1;
        margin-left: 20px;
        @include tablet{
        margin-left: 5.5rem;
        }
    }

    .footersocialmedia {
        margin-right: 20px;
        grid-column: 2;
        grid-row: 2;
        justify-self: right;
        text-align: right;
        @include tablet{
        margin-right: 5rem;
        }
    }
}

/* 404 Form */

.error404 {

    .site-content {
        display: flex;
        justify-content: center;
        margin: 5rem;

        .not-found {
            text-align: center;
            flex-direction: column;

            fieldset {
                text-align: center;
                border: none;
            }
        }
    }
}

/* Search Result Page */

.search {

    main {
        padding: 28px;
        width: 100vw;

        h1{
            font-size: 20px;
            @include tablet{
                font-size: 25px;
            } 
            @include desktop{
                font-size: 35px;
            } 
        }

        article {
            @extend %guestspot-mobile;

            img {
                @include gs-img-mobile;
                margin: 0;
                border: 0;
            }

            @include tablet {
                height: 288px;
                flex-direction: row;

                img {
                    @include gs-img-tablet;
                    left: 1px;
                }
            }

            .entry-summary {
                padding: 20px;
                @include text($color__text-main, 15px, $font__main);

                    a{
                    text-decoration: none;
                    color: black;
                    
                }

                @include tablet {
                    padding: 44px;
                }
            }
        }

    }
}

/* Edit profile */
.edit-area {
    width: 100%;
}

.edit-profile {

    width: 100%;
    display: flex;
    justify-content: space-between;

    .submit-form {
        display: flex;
        flex-direction: column;
        font-size: 1.5em;
        width: 80%;
        margin-left: 1em;

        #username,
        #location,
        #instalink,
        #facelink,
        #userbio {
            width: 90%;
            margin-bottom: 2rem;
            padding: 5px;
            border: $border;
        }

        #contactnumber,
        #dob {
            width: 50%;
            margin-bottom: 1.5rem;
            padding: 5px;
            border: $border;
        }
        #wpua-upload-existing,
        #wpua-undo-existing{
            background: none;
            margin-left: 10px;
            color: black;
            height: 42px;
            width: 80px;
            border: $border;
        }
        #wpua-upload-button-existing{
            display: flex;
            justify-content: flex-start;
        }
        #wpua-file-existing{
            border: $border;
            margin-bottom: 20px;
            padding: 5px;
            &::-webkit-file-upload-button {
                color: black;
                background-repeat: no-repeat;
                background-size: contain;
                border: 1px solid grey;
                border-radius: 2px;
                font-weight: bold;
            }
        }
        #wpua-upload-messages-existing{
            font-size: 1rem;
            margin-bottom: 0;
        }
        #updateuser,
        button {
            height: 3.5rem;
            width: 7.5rem;
            background: transparent url('../../assets/buttons/button_texture.png');
            background-repeat: no-repeat;
            background-size: contain;
            border: none;
            color: $color__text-secondary;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        input {
            border-radius: 0px;
        }
    }

    img {
        display: none;

        @include tablet {
            display: inherit;
            height: 100%;
            border-left: $border;

        }
    }

    label {
        font-family: $font__main;
        font-weight: bold;
        margin-bottom: 0.5rem;


    }
}

.profilefooter {
    order: 2;
}

//Guestspots page
.filter-guestspot {
    display: flex;
    flex-direction: column;
    

    @include tablet {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        display: inline-flex;
    }

    input {
        border-radius: 0;
        font-weight: 600;
        border: 4px solid black;
    }

    button {
        margin-top: 50px;
        border: 4px solid black;
        font-weight: 600;
        width: 80px;
        height: 30px;
    }

    @include tablet {
        #start-date {
            border-right: 2px solid black;
        }

        #finish-date {
            border-left: 2px solid black;
        }
    }
}

.page-header {
    @include profile-title;

    h1 {
        padding-bottom: 0.5rem;
    }
}
.guestspots-message{
    .sorry-msg{
        margin-top: 50px;
        font-size: 1.1rem;
        text-align: center;
        font-weight: 600;
    }
}
.guestspots-container-js {
    @include multi-profile;

    .guestspots-container {
        .link-guestspot {
            height: 25rem;
            border: $border3;

            &:hover {
                border-color: black;
            }

            .avatar {
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }

        p {
            @include flex-centered;
            font-weight: bold;
            justify-content: left;
            margin: 0.5rem;
            font-size: 1rem;
        }
    }
}

.guestspot-after-search {
    width: 90vw;
    margin-left: 20px;

    .guest-container-search {

        width: 100%;

        @extend %guestspot-mobile;

        img {
            @include gs-img-mobile;
        }

        @include tablet {
            height: 288px;
            flex-direction: row;

            img {
                @include gs-img-tablet;
            }
        }

        .studio-information {
            padding: 20px;

            @include tablet {
                padding: 44px;
            }
        }
    }

}

.guestspot-upload-form {

    label {
        font-family: $font__main;
        font-weight: bold;


    }

    img {
        border: $border;
    }

    #edit-guestspot-title,
    #edit-guestspot-studio-name,
    #edit-guestspot-location,
    #edit-guestspot-start-date,
    #edit-guestspot-finish-date,
        {
        width: 90%;
        margin-top: 0.5rem;
        padding: 5px;
        border: $border;
        border-radius: 0;


    }

    #description {
        height: 11rem;
        width: 90%;
        margin-top: 0.5rem;
        padding: 5px;
        border: $border;
        border-radius: 0;

        @include tablet {
            height: 8rem;


        }
    }

    ::-webkit-file-upload-button {
        height: 3.5rem;
        width: 7.5rem;
        background: transparent url('../../assets/buttons/button_texture.png');
        background-repeat: no-repeat;
        background-size: contain;
        border: none;
        color: $color__text-secondary;
        font-weight: bold;
    }


    .upload-btn,
        {
        height: 3.5rem;
        width: 7.5rem;
        background: transparent url('../../assets/buttons/button_texture.png');
        background-repeat: no-repeat;
        background-size: contain;
        border: none;
        color: $color__text-secondary;
        font-weight: bold;
        margin-bottom: 1rem;

    }

}

.edit-guestspot-form {
    a {
        background-image: url("../../assets/Buttons/close-icon.png");
        background-size: cover;
        width: 25px;
        height: 25px;
        top: 4px;
        left: 4px;
        position: absolute;
        cursor: pointer;

        @include tablet {
            width: 35px;
            height: 35px;
            top: 4px;
            left: 4px;
        }

        @include desktop {
            width: 50px;
            height: 50px;
            top: 4px;
            left: 4px;
        }


    }
}