// Structure

$base__space-unit: 1.5rem;

// Colors

$color__background-body: #fff;
$color__text-main:#000000;
$color__text-secondary: white;


// Typography

$font__main: 'Roboto';

// Responsive

$desktop-width: 1024px;
$tablet-width: 600px;


//design

$border: 6px solid #000000;
$border2: 8px solid #000000;
$border3: 6px solid white;